
main{
    background-color: rgb(221, 227, 233);
    height: 100%;
}
article{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
    
    
}

section{
    text-align: center;
    margin: 10px;
    
}
.card{
    text-align: center;
    font-weight: bold;
}
#sel{
    border-radius: 10pt;
    border :2px solid black;
}
#public{
    border:rgb(0, 0, 0) solid 3px;
    border-radius: 15px;
    padding: 7px;
    background-color: rgb(255, 255, 255);
}
.kosar{
    
    

    border:rgb(0, 0, 0) solid 3px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    
}
#ures{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(241, 157, 30);
}
#ment{
    width: 100%;
    border-radius: 5px;
    background-color: rgb(241, 157, 30);
}
#grid{
    display:  grid;
    grid-template-columns: 1fr 4fr;}

@media only screen and (max-width: 600px) {
    #ment{
        font-size: 9px;
        width: 30px;
        border-radius: 5px;
        background-color: rgb(241, 157, 30);
    }
    #ures{
        font-size: 9px;
        width: 30px;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: rgb(241, 157, 30);
    }
}
